.git
roms
.ipynb_checkpoints

# Virtual environment
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

.idea
checkpoints
checkpoint
*.prof
.pytest_cache
scripts/output*
huggingface/

.env